<header class="erp-topbar">
  <div class="erp-topbar__search-wrap">
    <div class="erp-topbar__search">
      <i-tabler name="search" />

      <input
        type="text"
        placeholder="Search modules..."
        [(ngModel)]="searchTerm"
        (focus)="openSearch()"
        (blur)="closeSearchWithDelay()"
        (keyup.enter)="runQuickSearch()"
      />
    </div>

    @if (isSearchOpen && searchTerm.trim()) {
      <div class="erp-topbar__search-results">
        @for (item of filteredQuickLinks; track item.route) {
          <button type="button" (click)="navigateToQuickLink(item)">
            <span>{{ item.label }}</span>
            <small>{{ item.route }}</small>
          </button>
        } @empty {
          <div class="erp-topbar__no-result">
            <strong>No module found</strong>
            <small>Try students, fees, attendance, events, routes...</small>
          </div>
        }
      </div>
    }
  </div>

  <div class="erp-topbar__actions">
    <button class="erp-topbar__select" type="button">
      <span>Academic Year : 2024 / 2025</span>
      <i-tabler name="chevron-down" />
    </button>

    <button class="erp-topbar__small-btn" type="button">US</button>

    <button
      class="erp-topbar__icon-btn"
      type="button"
      aria-label="Notifications"
    >
      <i-tabler name="bell" />
    </button>

    <div class="erp-topbar__profile">
      <span class="erp-topbar__avatar">{{ initials }}</span>

      <div class="erp-topbar__user">
        <strong>{{ displayName }}</strong>
        <span>{{ displayRole }}</span>
      </div>

      <button
        class="erp-topbar__profile-toggle"
        type="button"
        aria-label="Open user menu"
      >
        <i-tabler name="chevron-down" />
      </button>
    </div>

    <button class="erp-topbar__logout" type="button" (click)="logout()">
      <i-tabler name="logout" />
      <span>Logout</span>
    </button>
  </div>
</header>
